<div class="closed bg-overlay ph-1">
  <div class="sitePhotoModal">
    <span class="close-modal">X</span>
    <div class="left">
      <%= image_tag("1.jpg") %>
    </div>
    <div class="right">
      <div class="header">
        <h2 class="title">North Face Soffit</h2>
        <div class="date">LAST UPDATED: 01/01/2016</div>
      </div>
      <div class="notes-container">
        <label>NOTES:</label>
        <div class="note">
          Soffit was damaged during hail storm. Needs to be replaced.
        </div>
      </div>
    </div>
  </div>
</div>

<div class="closed bg-overlay ph-2">
  <div class="sitePhotoModal">
    <span class="close-modal">X</span>
    <div class="left">
      <%= image_tag("2.jpg") %>
    </div>
    <div class="right">
      <div class="header">
        <h2 class="title">South Facing Slope</h2>
        <div class="date">LAST UPDATED: 01/01/2016</div>
      </div>
      <div class="notes-container">
        <label>NOTES:</label>
        <div class="note">
          Number of Hail marks found. Might need to be replaced.
        </div>
      </div>
    </div>
  </div>
</div>

<div class="closed bg-overlay ph-3">
  <div class="sitePhotoModal">
    <span class="close-modal">X</span>
    <div class="left">
      <%= image_tag("3.jpg") %>
    </div>
    <div class="right">
      <div class="header">
        <h2 class="title">High Rake Angle</h2>
        <div class="date">LAST UPDATED: 01/01/2016</div>
      </div>
      <div class="notes-container">
        <label>NOTES:</label>
        <div class="note">
          Showing the rake angle for the roof. This could be problematic.
        </div>
      </div>
    </div>
  </div>
</div>

<div class="closed bg-overlay ph-4">
  <div class="sitePhotoModal">
    <span class="close-modal">X</span>
    <div class="left">
      <%= image_tag("4.jpg") %>
    </div>
    <div class="right">
      <div class="header">
        <h2 class="title">Counter Flashing</h2>
        <div class="date">LAST UPDATED: 01/01/2016</div>
      </div>
      <div class="notes-container">
        <label>NOTES:</label>
        <div class="note">
          Counter flashing, 3 bundles of shingles CMG 2x4 Rake at 7, Broan Roof Cap
        </div>
      </div>
    </div>
  </div>
</div>

<div class="closed bg-overlay ph-5">
  <div class="sitePhotoModal">
    <span class="close-modal">X</span>
    <div class="left">
      <%= image_tag("5.jpg") %>
    </div>
    <div class="right">
      <div class="header">
        <h2 class="title">Vent with Screen</h2>
        <div class="date">LAST UPDATED: 01/01/2016</div>
      </div>
      <div class="notes-container">
        <label>NOTES:</label>
        <div class="note">
          Lomanco Vent With Screen/Brown-49.52
        </div>
      </div>
    </div>
  </div>
</div>

<div class="closed bg-overlay ph-6">
  <div class="sitePhotoModal">
    <span class="close-modal">X</span>
    <div class="left">
      <%= image_tag("6.jpg") %>
    </div>
    <div class="right">
      <div class="header">
        <h2 class="title">Multi Layer Composite Shingle</h2>
        <div class="date">LAST UPDATED: 01/01/2016</div>
      </div>
      <div class="notes-container">
        <label>NOTES:</label>
        <div class="note">
          Only one layer of shingles. 
        </div>
      </div>
    </div>
  </div>
</div>

<div class="closed bg-overlay ph-7">
  <div class="sitePhotoModal">
    <span class="close-modal">X</span>
    <div class="left">
      <%= image_tag("7.jpg") %>
    </div>
    <div class="right">
      <div class="header">
        <h2 class="title">East Face</h2>
        <div class="date">LAST UPDATED: 01/03/2016</div>
      </div>
      <div class="notes-container">
        <label>NOTES:</label>
        <div class="note">
          East Face severly damaged. Needs to be replaced. 
        </div>
      </div>
    </div>
  </div>
</div>

<div class="closed bg-overlay ph-8">
  <div class="sitePhotoModal">
    <span class="close-modal">X</span>
    <div class="left">
      <%= image_tag("8.jpg") %>
    </div>
    <div class="right">
      <div class="header">
        <h2 class="title">Shed</h2>
        <div class="date">LAST UPDATED: 01/03/2016</div>
      </div>
      <div class="notes-container">
        <label>NOTES:</label>
        <div class="note">
          Homeowner wants shed to match house shingles. 
        </div>
      </div>
    </div>
  </div>
</div>

<div class="closed bg-overlay ph-9">
  <div class="sitePhotoModal">
    <span class="close-modal">X</span>
    <div class="left">
      <%= image_tag("9.jpg") %>
    </div>
    <div class="right">
      <div class="header">
        <h2 class="title">Existing Shingle Material</h2>
        <div class="date">LAST UPDATED: 01/03/2016</div>
      </div>
      <div class="notes-container">
        <label>NOTES:</label>
        <div class="note">
          GAF Armor Shield II Weather wood
        </div>
      </div>
    </div>
  </div>
</div>

