<div class="cardWrapper sitePhotos">
  <header>
    <h2 class="title">Site Photos</h2>
  </header>
  <hr class="divider">
  <div class="body">
    <div class="sitePhotos">

      <div class='thumbnail-container thumb-1' key='1'>
        <div class='overlay-container'>
          <div class='btn outline white'>View more</div>
        </div>
        <div class='thumbnail-photo'>
          <%= image_tag "1.jpg", class: "photo" %>
        </div>
      </div>

      <div class='thumbnail-container thumb-2' key='2'>
        <div class='overlay-container'>
          <div class='btn outline white'>View more</div>
        </div>
        <div class='thumbnail-photo'>
          <%= image_tag "2.jpg", class: "photo" %>
        </div>
      </div>

      <div class='thumbnail-container thumb-3' key='3'>
        <div class='overlay-container'>
          <div class='btn outline white'>View more</div>
        </div>
        <div class='thumbnail-photo'>
          <%= image_tag "3.jpg", class: "photo" %>
        </div>
      </div>

      <div class='thumbnail-container thumb-4' key='4'>
        <div class='overlay-container'>
          <div class='btn outline white'>View more</div>
        </div>
        <div class='thumbnail-photo'>
          <%= image_tag "4.jpg", class: "photo" %>
        </div>
      </div>

      <div class='thumbnail-container thumb-5' key='5'>
        <div class='overlay-container'>
          <div class='btn outline white'>View more</div>
        </div>
        <div class='thumbnail-photo'>
          <%= image_tag "5.jpg", class: "photo" %>
        </div>
      </div>

      <div class='thumbnail-container thumb-6' key='6'>
        <div class='overlay-container'>
          <div class='btn outline white'>View more</div>
        </div>
        <div class='thumbnail-photo'>
          <%= image_tag "6.jpg", class: "photo" %>
        </div>
      </div>

      <div class='thumbnail-container thumb-7' key='7'>
        <div class='overlay-container'>
          <div class='btn outline white'>View more</div>
        </div>
        <div class='thumbnail-photo'>
          <%= image_tag "7.jpg", class: "photo" %>
        </div>
      </div>

      <div class='thumbnail-container thumb-8' key='8'>
        <div class='overlay-container'>
          <div class='btn outline white'>View more</div>
        </div>
        <div class='thumbnail-photo'>
          <%= image_tag "8.jpg", class: "photo" %>
        </div>
      </div>

      <div class='thumbnail-container thumb-9' key='9'>
        <div class='overlay-container'>
          <div class='btn outline white'>View more</div>
        </div>
        <div class='thumbnail-photo'>
          <%= image_tag "9.jpg", class: "photo" %>
        </div>
      </div>

    </div>
  </div>
</div>