

<strong>Welcome to <%= company_name %>!</strong>

<p>
  <%= company_name %> is known for providing the highest level of customer support during every step of the roof construction process,
  whether it be a new roof endeavor or storm damage restoration.
  To provide the best experience, here is your access code to the Insurance Adjustor Portal where you can view the status
  of your project and contact your Sales Representative:
</p>

<p>You personal site: <%= link_to 'Click here', "#{frontend_root_url}#/adjustorportal?token=#{@adjustor.page_token}" %></p>

<p>Please contact us with any questions or concerns you might have at: <i><%= company_telephone %></i></p>

<br>

<p>Thank you for your business.</p>
<p><%= company_name %></p>



