<div class="portalModals">
  <%= render "chat/modals/site_photo_modal" %>
</div>
<div class="portalBody">
  <div class="card-rows">
    <%= render "chat/cards/layout/property_owner_info" %>
    <%= render "chat/cards/layout/insurance_company_info" %>
    <%= render "chat/cards/layout/contractor_information" %>
  </div>
  <div class="card-columns">
    <%= render "chat/cards/message_card" %>
  </div>
  <%= render "chat/cards/layout/claim_information" %>
  <%= render "chat/cards/layout/site_photos" %>
  <%= render "chat/cards/layout/documents" %>
  <%= render "chat/cards/layout/milestones" %>
</div>